---
import Layout from '../../layouts/Layout.astro';
import ArisaMakesLogo from "../../assets/icon_234.png";
import RowCounterWatch from "../../assets/v2.5crochethank+pink.png";
import RowCounterWeb from "../../assets/rowcounter_web.png";
---

<Layout title="arisamakes">
     <div class="pb-4 pt-2 text-2xl bg-gray-50">
	<div class="m-4 text-center m-auto px-5 md:max-w-md">
	    <h1 class="mt-7 text-3xl font-extrabold md:m-9">
      🧶 ArisaMakes Row Counter
    	</h1>

		<img
          alt="ArisaMakes Row Counter App Icon of Skeins and a Cake of Yarn"
          title="ArisaMakes Row Counter App Icon of Skeins and a Cake of Yarn"
          class="relative mt-2 mx-auto max-h-25 rounded-full object-cover mb-3"
          decoding="auto"
          src={ArisaMakesLogo.src}
          loading="lazy"
        />





		

	</div>

	<div class="text-center m-auto px-5 md:max-w-md py-5">
		<p class="text-xl">Use this simple row counter while you're crocheting or knitting!</p>

    			<div class="bg-(--color-blush) rounded-lg mt-2 p-3">
			
			<p>Email <a 
        href="mailto:support@arisamakes.com"
        class="underline decoration-(--color-dark-teal) underline-offset-2 hover:decoration-(--color-sky-blue)"
        >
        support@arisamakes.com
        </a> if you have an Apple Watch and want to help test <a 
		href="/rowcounter/watchos/#update"
		class="underline underline-offset-2 decoration-(--color-magenta) hover:decoration-(--color-dandelion)"
		>update 3.0</a>!</p>

		</div>
		
		<div class="text-2xl mt-5 underline decoration-3 decoration-(--color-blush) underline-offset-2">
		<a 
			href="/rowcounter/watchos"
			class="hover:decoration-(--color-dark-teal) font-semibold" 
			title="ArisaMakes Row Counter - Apple Watch"
			>
			Apple Watch App
			
		<img
          alt="ArisaMakes Apple Watch Row Counter Screenshot"
          title="ArisaMakes Apple Watch Row Counter Screenshot"
          class="mt-5 mx-auto max-h-70 rounded-[5vw] object-cover shadow-lg"
          decoding="auto"
          src={RowCounterWatch.src}
          loading="lazy"
        />

		</a>
		</div>
	</div>

<div class="text-2xl text-center mt-5 underline decoration-3 decoration-(--color-sky-blue) underline-offset-2">
	
			<a 
			href="/rowcounter/web"
			class="hover:decoration-(--color-dandelion) font-semibold" 
			title="ArisaMakes Row Counter - Web"
			>
			<p>(UNDER CONSTRUCTION)</p>
			<p>Web - Free!</p>
		
		<img
          alt="ArisaMakes Apple Watch Row Counter Screenshot"
          title="ArisaMakes Apple Watch Row Counter Screenshot"
          class="mt-5 mx-auto max-h-70 rounded-2xl object-cover shadow-lg"
          decoding="auto"
          src={RowCounterWeb.src}
          loading="lazy"
        />
			</a>



    </div>			

	<div class="text-xl text-center m-auto px-5 md:max-w-md py-5">
	<p>
      Thanks for trying out my app! I'm actively updating and love to hear from
      you on how I can make it better. 
    </p>
	<p class="m-4">If there are features
      you'd like or improvements, let me know by emailing me at <a 
        href="mailto:support@arisamakes.com"
        class="underline decoration-(--color-gray-brand) decoration-2 underline-offset-2 hover:decoration-(--color-sky-blue)"
        >support@arisamakes.com
        </a>!</p>
	</div>
</div>
</Layout>
