---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="arisamakes">
			<a 
			href="/rowcounter/web"
			class="text-base leading-6 text-gray-500 hover:text-gray-900" 
			title="ArisaMakes Row Counter - Web"
			>
			ROW COUNTER WEB
			</a>

            			<a 
			href="/rowcounter/watchos"
			class="text-base leading-6 text-gray-500 hover:text-gray-900" 
			title="ArisaMakes Row Counter - Apple Watch"
			>
			ROW COUNTER Apple Watch
			</a>

</Layout>
