---
import Layout from '../../layouts/Layout.astro';
import ArisaMakesLogo from "../../assets/icon_234.png";
import WatchScreenshotMittens from "../../assets/v2.5mittens+black.png";
import WatchScreenshotKnitSettings from "../../assets/v2.5knithank+pinksettings.png";
import WatchScreenshotCakeSettings from "../../assets/v2.5cake+bluesettings.png";

---

<Layout title="arisamakes">
  <div class="bg-gray-50">
<div class="text-center text-2xl m-auto px-5 md:max-w-2xl py-5 ">
<h1 class="text-4xl font-extrabold my-8">ArisaMakes Row Counter App</h1>
		<img
          alt="ArisaMakes Row Counter App Icon of Skeins and a Cake of Yarn"
          title="ArisaMakes Row Counter App Icon of Skeins and a Cake of Yarn"
          class="relative mx-auto h-40 rounded-full object-cover"
          decoding="auto"
          src={ArisaMakesLogo.src}
          loading="lazy"
        />
		<p class="pb-4 pt-4">Use this simple row counter right on your Apple Watch while you're crocheting or knitting!</p>
        
        <a
      href="https://apps.apple.com/us/app/arisamakes-row-counter/id1598992914?itsct=apps_box_badge&amp;itscg=30200"
      class="my-6 hover:shadow-xl"
      style="
        display: inline-block;
        overflow: hidden;
        border-radius: 13px;
        width: 250px;
        height: 83px;
      "
    >
      <img
        src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1643760000"
        alt="Download on the App Store"
        style="border-radius: 13px; width: 250px; height: 83px"
    /></a>

    			<div class="bg-(--color-blush)/50 text-xl rounded-lg p-1"  id="update"> <p>Email <a 
        href="mailto:support@arisamakes.com"
        class="underline decoration-(--color-dark-teal) decoration-2 underline-offset-2 hover:decoration-(--color-sky-blue)"
        >
        support@arisamakes.com
        </a> to help test update 3.0! </p>
      <p class="text-left pl-12 mt-2">
      Includes:
  <ul class="mt-1 text-left pl-15">
    <li>- multiple row counters</li>
    <li>- save history to review and select a previous saved increase </li>
    <li>- two new background colors</li>
  </ul>
    </p>

</div>


  <h3
      class="my-8 flex justify-center text-3xl font-extrabold leading-8 tracking-tight text-gray-900 sm:text-3xl sm:leading-9"
    >
      Screenshots
    </h3>

    <div class="flex flex-wrap">

    		<img
          alt="ArisaMakes Apple Watch Row Counter Screenshot"
          title="ArisaMakes Apple Watch Row Counter Screenshot"
          class="mt-5 mx-auto max-h-70 rounded-[5vw] object-cover shadow-lg"
          decoding="auto"
          src={WatchScreenshotMittens.src}
          loading="lazy"
        />


		<img
          alt="ArisaMakes Apple Watch Row Counter Screenshot"
          title="ArisaMakes Apple Watch Row Counter Screenshot"
          class="mt-5 mx-auto max-h-70 rounded-[5vw] object-cover shadow-lg"
          decoding="auto"
          src={WatchScreenshotKnitSettings.src}
          loading="lazy"
        />

        		<img
          alt="ArisaMakes Apple Watch Row Counter Screenshot"
          title="ArisaMakes Apple Watch Row Counter Screenshot"
          class="mt-5 mx-auto max-h-70 rounded-[5vw] object-cover shadow-lg"
          decoding="auto"
          src={WatchScreenshotCakeSettings.src}
          loading="lazy"
        />
</div>


        <p class="mx-2 mt-10 text-xl">
      A simple row counter right on your Apple Watch for your crochet and knit
      projects! Use the reset row feature to automatically reset the counter and
      track repeats-- helpful for when following a repeating pattern. Customize 
      your row counter with 6 hand-drawn icons and 3 background colors.
    </p>


    </div>
</div>

</Layout>
