---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Free Web Row Counter">

<!-- <h1 class="text-4xl text-center m-20 font-bold">ArisaMakes Web Row Counter (free!)</h1> -->

<div class="flex justify-center flex-col m-auto px-5 md:max-w-lg">
    <p class="text-center text-3xl/12 mt-15 font-bold ">

    Sorry!! 

    </p>

        <p class="text-center text-3xl/12 my-5 font-bold">
    This page is under construction while we migrate the website!
        </p>

                <p class="text-center text-3xl/12 my-5 font-bold">
    For now, you can use the free row counter by going back to the old site <a 
    href="https://classic.arisamakes.com/rowcounter/web"
    class="underline decoration-3 decoration-(--color-sky-blue) underline-offset-2 hover:decoration-(--color-blush) font-semibold text-gray-800 hover:text-black"
    >here</a>.
        </p>


</div>

</Layout>
