---
import Layout from '../layouts/Layout.astro';

---

<Layout title="BIPOC Craft Circle">

    <div class="pb-4 pt-2 text-xl bg-gray-50">
<div class="text-center m-auto px-2 md:max-w-md py-2">
    <h1 class="text-4xl font-extrabold my-5">BIPOC Craft Circle</h1>

    <p class="my-4">
        A monthly craft night for BIPOC (Black, Indigenous, and People of Color) and multiracial identities. </p>
    
        <p class="my-4">If you identify as BIPOC or multiracial, like crafts and in the Seattle area, come join other fellow crafters of color and bring your craft projects!
    </p>

    <p>
        Craft nights are usually on the <span class="font-bold underline underline-offset-2">3rd Monday</span> of the month at <span class="font-bold underline underline-offset-2">6:30 PM</span>.
    </p>


<div class="bg-(--color-blush)/50 rounded-2xl text-center m-4 max-w-xl">
    <h2 class="text-2xl pt-5 pb-3 font-semibold">Next Craft Night:</h2>
    <p class="text-xl">
        <span class="font-bold underline underline-offset-2">When?</span> July 20, 2026 at 6:30pm
    </p>
   
    <p class="text-xl mt-2">
        <span class="font-bold underline underline-offset-2">Where?</span> Wet Clay Cafe
    </p>

    <p class="text-xl py-3">
        1109 N 35th St, Seattle, WA 98103
    </p>

    
    <p class="underline decoration-3 decoration-(--color-magenta) underline-offset-2 text-xl py-5">
        <a 
			href="https://www.meetup.com/bipoc-craft-circle/"
			class="hover:decoration-(--color-dandelion) font-semibold text-gray-800 hover:text-black" 
			title="BIPOC Craft Circle Meetup Group"
			>
			More info here!
            </a>
    
    </p>

</div>

</div>
</div>

</Layout>