---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="arisamakes">
		
		<div class="text-center text-2xl">
		<p>
		<div class="underline decoration-sky-500 underline-offset-4">
			<a 
			href="/rowcounter"
			class="hover:decoration-amber-300" 
			title="ArisaMakes Row Counter App"
			>
			I made a row counter app!</a>
		</div>

		<div class="underline decoration-teal-400 underline-offset-4">
			<a 
			href="/bipocmonthly"
			class="hover:decoration-pink-500" 
			title="ArisaMakes Row Counter App"
			>
			I host monthly craft nights for people of color!</a>
		</div>


		</p>
		</div>	

    <p>
      Hi I'm Arisa!
    </p>
</Layout>
