---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="arisamakes">
  <div class="m-20">
    <h1 class="text-3xl font-extrabold">Privacy Policy</h1>
    <p class="mt-8 text-xl text-gray-500">
      We do not collect your data through our application or website.
    </p>

    <p class="mt-2 text-xl text-gray-500">
      Our privacy policy will always be up-to-date on this page. The information
      on this page might change or be edited based on the updates to the
      application and this website.
    </p>

    <p class="mt-14 text-center text-lg text-gray-500">
      ArisaMakes is owned by <a 
      href="https://baanburisa.com/"
      class="underline decoration-purple-500 decoration-2 underline-offset-2 hover:decoration-(--color-blush) decoration-2"
      >Burisa LLC
    </a>
    .
    </p>

    <p class="mt-14 text-center text-lg text-gray-500">
        
        <a 
        href="mailto:support@arisamakes.com"
        class="underline decoration-(--color-gray-brand) decoration-2 underline-offset-2 hover:decoration-(--color-sky-blue)"
        >
        support@arisamakes.com
        </a>
    </p>

    <p class="my-2 text-center text-lg text-gray-500">
      Last Updated: January 29, 2022
    </p>
  </div>
</Layout>